@{
    ViewData["Title"] = "Access Denied";
}

<div class="row" style="margin-top: 20px">
    <div class="col-md-1"><img src="~/images/access_denied.png" style="width: 100%" /></div>
    <div class="col-md-11"><h6 style="padding-top:7px">You do not have permission to access <span class="task-cat red accent-2">@ViewData["ReturnUrl"]</span><br />Contact your Administrator</h6></div>

</div>
