@{
    ViewData["Title"] = "Administrator";
}

<div style="margin-top:20px;">
    1.<a href="/administrator/users">Users</a><br />
    2.<a href="/administrator/agencies">Agencies</a><br />
    3.<a href="/administrator/regions">Regions</a><br />
    4.<a href="/administrator/facilities">Facilities</a>
</div>