@{
    ViewData["Title"] = "Reports";
}

<div class="row">
    <div class="col s12 m6 l3">
        <div class="card" style="background:#ff0027">
            x
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card" style="background:#47c5f4">
            x
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card" style="background:#ffba00">
            x
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card" style="background:#5ecb23">
            x
        </div>
    </div>
</div>
