@{
    ViewData["Title"] = "Reports";
}

<div class="row hidden">
    <div class="col s12 m6 l3">
        <div class="card" style="background:#ff0027">
            x
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card" style="background:#47c5f4">
            x
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card" style="background:#ffba00">
            x
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card" style="background:#5ecb23">
            x
        </div>
    </div>
</div>

<div id="card-stats">
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">perm_identity</i>
                        <p>Patients</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">1,885</h5>
                        <p class="no-margin">New</p>
                        <p>44,112,900</p>
                    </div>
                </div>
            </div>

            <h5>WHO Reports</h5>
            <ul class="pending-push">
                <li>
                    <i class="material-icons">close</i>
                    <span><a href="/core/stations/gitimbine">Cohort Report</a>, <small>Metrics over Time</small></span>
                </li>
            </ul>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">timeline</i>
                        <p>Case Detection</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">20%</h5>
                        <p class="no-margin">Growth</p>
                        <p>1,420,230</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">attach_money</i>
                        <p>Expenditure</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">21.80%</h5>
                        <p class="no-margin">Budget</p>
                        <p>6,525,000</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                <div class="padding-4">
                    <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">add_shopping_cart</i>
                        <p>Drug Orders</p>
                    </div>
                    <div class="col s5 m5 right-align">
                        <h5 class="mb-0">46,900</h5>
                        <p class="no-margin">Items</p>
                        <p>$23,600,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
