<style>
    body{
        background: #FFF;
    }
    a.fixed {
        position: absolute;
        top: 58%;
        left: 44%;
        width: 12%;
        height: 40px;
        border: 0px none #73AD21;
    }
</style>
<div class="row">
    <!-- 404 -->
    <div class="col s12 center-align" style="position:relative">
        <img src="~/images/error-404.png" alt="" style="width:100%">
        <a class="fixed" href="/"></a>
    </div>
</div>