@{
    ViewData["Title"] = "Home";
}

<div class="row" style="margin-top:40px;">
    <div class="col-md-5">
        <a asp-area="" asp-controller="Patient" asp-action="Register" class="navbar-brand">Register Patient</a>
    </div>
</div>